body {
	background-color:#1e160e;
	color:#ffd7bf;
}
h1:nth-of-type(1) {
	padding-top: 30px;
}
#topNav {
	position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    left: 0;
    top: 0;
    background: rgba(30, 22, 14, 0.9);
}

#topNav a, #submit {
	color: #ffd7bf;
    display: inline-block;
    height: 30px;
    text-decoration: none;
    border: groove #ffd7bf 4px;
    padding: 9px 20px 0 20px;
    margin: 5px auto;
}

.active-section {
	padding-top: 35px;
}
.manifest {
    display: none;
}
.form-section {
	margin: 20px 0px;
}
.form-section-rover input {
	margin-left:30px;
}
.disabled {
	color:#605955;
}
.date {
	margin: 10px 0;
}
img {
	max-width:100%;
	height:auto;
}
.img {
	max-width:200px;
	margin: 5px;
}
#images {
	display:flex;
	flex-flow: row wrap;
	align-items: center;
    justify-content: flex-start;
}
input {
	border-radius: 5px;
}
#pageNum {
	margin-right: 5px;
}
#spiritDateWarning {
	display:none;
}
#solDate {
	width: 125px;
}
#response {
	text-align: left;
	overflow-x: auto;
}
#response tr {
	
}
#response th {
	border-bottom: groove #ffd7bf 4px;
}
#response td {
	border-bottom: groove #ffd7bf 1px;
    padding: 5px 5px 0 5px;
    overflow-wrap: break-word;
}